.lt_nav {
    ul {
        padding: 5px;

        li {
            float: left;
            width: 33.33%;

            img {
                width: 100%;
                display: block;
            }
        }
    }
}


